
README.ipynb

**/.ipynb_checkpoints
**/__pycache__

data/
business_context/
data_references/
.idea/
/venv/
/.env
/business_questions_insights/powerbi/
/project_assumptions.ipynb               # REMOVE LATER
/sales_prediction/hypotheses_mind_map/
/olistlib/                               # REMOVE LATER
